*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#20d346,#006cfa);
    width: 100%;
    height: 100vh;
}
.mainbody{
    padding-top: 70px;
}
#screen{
    width: 392px;
    height: 56px;
    margin: 0%;
    pointer-events: none;
    font-size: xxx-large;
    font-family: fantasy;
}
.btn{
    width: 97px;
    height: 77px;
    margin-top: 17px;
    background: rgb(8, 0, 0);
    color: #fff;
    border: 0;
    font-family: fantasy;
    font-size: x-large;
}
.btn:hover{
    color: black;
    background: blanchedalmond;
}
